---
import { changeLanguage } from "i18next";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import NewsCard from "../../../components/NewsCard.astro";

changeLanguage("en");

const allNews = await Astro.glob("../*.md");
const pageTitle = "Ajankohtaista";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-center mt-10 mb-16'>Ajankohtaista</h2>
  <!-- <section class='flex justify-center' aria-label='New Blog News'> -->
  <section aria-label='New Blog News'>
    <!-- Uncomment the div grid below to get a news row -->
    <!-- <div class='grid grid-cols-1 gap-1'> -->
    <!-- Comment the div below if you uncomment the div grid above to display a news row -->
    <div class='md:w-1/5'>
      {
        allNews.map((news) => (
          <div class='news-row'>
            <NewsCard frontmatter={news.frontmatter} url={news.url} tagType='h2' />
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
