---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import NewsCard from "../../../components/NewsCard.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");

const allNews = await Astro.glob("../../news/*.md");
const pageTitle = "Ajankohtaista";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-center mt-10 mb-16'>
    {t('news.pageTitle')}
  </h2>
  <!-- <section class='flex justify-center' aria-label='New Blog News'> -->
  <section aria-label='New Blog News'>
    <div class='md:grid md:grid-cols-4 md:gap-4'>
      <!-- <div class='md:w-1/5'> -->
      {
        allNews.map((news) => (
          <div class='news-row'>
            <NewsCard frontmatter={news.frontmatter} url={news.url} tagType='h2' />
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
