---
import { changeLanguage } from 'i18next';
// import BaseLayout from '../../../layouts/BaseLayout.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import NewsCard from '../../../components/NewsCard.astro';

changeLanguage('en');

const allNews = await Astro.glob('../news/*.md');
const pageTitle = 'Ajankohtaista';
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-center mt-10 mb-16'>Ajankohtaista</h2>
  <!-- <section class='flex justify-center' aria-label='New Blog News'> -->
  <section aria-label='New Blog News'>
    <div class='grid grid-cols-4 gap-4'>
      <!-- <div class='md:w-1/5'> -->
      {
        allNews.map((news) => (
          <div class='news-row'>
            <NewsCard frontmatter={news.frontmatter} url={news.url} tagType='h2' />
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
