@import 'global';

// Background colors scheme
.burgundy-bg {
  background: var(--uraohjain-burgundy);
}
.green-bg {
  background: var(--uraohjain-green);
}
.pink-bg {
  background: var(--uraohjain-pink);
}
.yellow-bg {
  background: var(--uraohjain-yellow);
}
// Colors scheme
.green-color {
  color: var(--uraohjain-green);
}
.burgundy-color {
  color: var(--uraohjain-burgundy);
}
// Common elements
html {
  h1 {
    font-size: 2.5rem !important;
    margin: 2rem 0;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  h3 {
    font-size: 1.9rem;

    font-weight: 700;
    margin: 1rem 0;
  }

  p {
    color: var(--uraohjain-burgundy);
    padding: 1rem 0;
    font-size: 1.3rem;
  }
  ul,
  ol {
    color: var(--uraohjain-burgundy);
    font-size: 1.3rem;
  }
  footer {
    background-color: var(--uraohjain-white);
    font-size: 1.1rem !important;
    padding: 2rem 6rem 5.5rem 5.2rem;

    a {
      color: var(--uraohjain-burgundy);
    }
    div {
      color: var(--uraohjain-burgundy);
    }
  }
}

// Others
.main-wrapper {
  padding: 1rem 5.5rem 3.5rem 5.5rem;
}

.benefits-list {
  background-color: var(--uraohjain-pink);
  padding: 2rem 4rem;
  color: var(--uraohjain-burgundy);

  ul > li {
    margin: 1rem 0;
  }
}
.news-row {
  border: solid 2px var(--uraohjain-pink);
  margin: 1rem;
  padding: 1.5rem;
}
.footer-border {
  border-top: solid 34px var(--uraohjain-pink);
}
.footer-title {
  color: var(--uraohjain-burgundy);
  opacity: 1 !important;
  font-size: 1rem;
  margin-bottom: 1rem !important;
}

// Components styling
.navbar {
  background-color: var(--uraohjain-green);
  color: var(--uraohjain-white);
  font-size: 1.125rem;

  a {
    padding: 1rem;
  }
  a.active {
    color: var(--uraohjain-pink);
    border-bottom: solid 4px var(--uraohjain-pink);
    font-weight: 700;
  }

  a:hover {
    color: var(--uraohjain-pink);
  }
  button {
    border: solid 2px var(--uraohjain-pink);
    padding: 0.5rem 2rem;
    border-radius: 20px;
  }
  button:hover {
    background-color: var(--uraohjain-pink);
    font-weight: 800;
  }
}
.patnersLogos {
  display: block;
}
