@import 'global';

// Background colors scheme
.burgundy-bg {
  background: var(--uraohjain-burgundy);
}
.green-bg {
  background: var(--uraohjain-green);
}
.yellow-bg {
  background: var(--uraohjain-yellow);
}
// Colors scheme
.green-color {
  color: var(--uraohjain-green);
}
// Common elements
html {
  h1 {
    font-size: 2.5rem !important;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.9rem;
    font-weight: 700;
  }

  p {
    color: var(--uraohjain-burgundy);
  }
  footer {
    background-color: var(--uraohjain-white);
    padding: 4rem 5.5rem;
    a {
      color: var(--uraohjain-burgundy);
    }
  }
}

// Others
.main-wrapper {
  padding: 4rem 5.5rem;
}

.benefits-list {
  background-color: var(--uraohjain-pink);
  padding: 4rem;
  color: var(--uraohjain-burgundy);

  ul > li {
    margin: 2.5rem 0;
  }
}
.footer-border {
  border-top: solid 34px var(--uraohjain-pink);
}

// Components styling
.navbar {
  background-color: var(--uraohjain-green);
  color: var(--uraohjain-white);
  font-size: 1.125rem;

  .active {
    color: var(--uraohjain-pink);
    border-bottom: solid 4px var(--uraohjain-pink);
    font-weight: 700;
  }

  a:hover {
    color: var(--uraohjain-pink);
  }
}
