@import 'global';

// Common elements
html {
  h1 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 1.9rem;
    font-weight: 700;
  }

  p {
    color: var(--uraohjain-burgundy);
  }
}

// Others
.main-wrapper {
  padding: 4rem;
}

.benefits-list {
  background-color: var(--uraohjain-pink);
  padding: 4rem;
  color: var(--uraohjain-burgundy);

  ul > li {
    margin: 2.5rem 0;
  }
}

// Components styling
.navbar {
  background-color: var(--uraohjain-green);
  color: var(--uraohjain-white);
  font-size: 1.125rem;

  .active {
    color: var(--uraohjain-pink);
    border-bottom: solid 4px var(--uraohjain-pink);
    font-weight: 700;
  }

  a:hover {
    color: var(--uraohjain-pink);
  }
}
