---
import BaseLayout from "../../layouts/BaseLayout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

const pageTitle = "Opintotarjonta";
---

<BaseLayout pageTitle={pageTitle}>
  <div class='' id='study-offers'>
    <h2 class='text-center md:mt-10'>
      {t('studyOfferings.pageTitle')}
    </h2>
    <p class='m-3 md:m-0 text-center'>
      {t('studyOfferings.description')}
    </p>
    <div class='flex justify-center anchors'>
      <a class='yellow-bg px-3 md:px-6 mr-4 underline' href='#ict'>
        <p>{t('studyOfferings.ict')}</p>
      </a>
      <a class='pink-bg px-12 md:px-28 underline' href='#media'>
        <p>Media</p>
      </a>
    </div>

    <div id='ict'>
      <h2>{t('studyOfferings.ict')}</h2>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.0.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.0.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.1.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.1.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.2.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.2.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.3.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.3.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.4.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.4.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.5.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.5.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.6.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.6.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.7.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.7.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.8.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.8.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.9.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.9.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.10.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.10.description')}
        </p>
      </div>
    </div>

    <div id='media'>
      <h2>Media</h2>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.mediaData.0.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.mediaData.0.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>
          {t('studyOfferings.mediaData.1.title')}
        </p>
        <p class='p-0 m-0'>
          {t('studyOfferings.mediaData.1.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.mediaData.2.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.mediaData.2.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>
          {t('studyOfferings.mediaData.3.title')}
        </p>
        <p class='p-0 m-0'>
          {t('studyOfferings.mediaData.3.description')}
        </p>
      </div>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.mediaData.4.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.mediaData.4.description')}
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
