---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = '';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>
      {pageTitle}
    </h2>

    <div class='calendar flex justify-center mt-10'>
      <iframe
        src='https://outlook.office365.com/owa/calendar/Uraohjainaloitustapaaminen@opetus.hel.fi/bookings/'
        style='border:0'
      >
      </iframe>
    </div>
  </section>
</BaseLayout>
