---
import BaseLayout from '../layouts/BaseLayout.astro';
import NewsCard from '../components/NewsCard.astro';
const pageTitle = 'Yhteystiedot';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>
      {pageTitle}
    </h2>

    <p class=''>
      URAOHJAIN+-hanke keskittyy osaavaa työvoimaa etsivään IT-alaan sekä moniosaamista vaativaan
      media-alaan. Pääkaupunkiseudulla aloille koulutettuja työttömiä on useita tuhansia. Samaan
      aikaan työvoiman tarve etenkin IT-alalla on valtava. Hankkeen räätälöidyillä palveluilla
      vastataan ko. alojen työvoiman kohtaanto-ongelmiin, työnantajien rekrytointihaasteisiin sekä
      työntekijöille asetettaviin koulutus- ja osaamisvaatimuksiin. Hanke keskittyy nuorten ja
      pitkäaikaistyöttömien työ- ja toimintakyvyn sekä työllistymisedellytysten vahvistamiseen.
      Hankkeella haastetaan työnhakijat, työnantajat, työllisyyspalvelut ja oppilaitokset yhdessä
      pohtimaan, kehittämään ja mallintamaan kestäviä työllisyysratkaisuja, joissa asiakkaan
      osaaminen ja työnantajan tarpeet aidosti kohtaavat ja työllistyminen helpottuu. Hankkeen
      tavoitteena on luoda uudenlainen kestävän työllistymisen malli.
    </p>
  </section>
</BaseLayout>
