---
import BaseLayout from '../layouts/BaseLayout.astro';
import TestForm from '../components/TestForm.jsx';
const pageTitle = 'Ilmoittatuminen';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>
      {pageTitle}
    </h2>
    <TestForm client:load />
  </section>
</BaseLayout>
