---
import BaseLayout from '../layouts/BaseLayout.astro';
import Test from '../components/Test.astro';
const pageTitle = 'Ilmoittatuminen';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2>
      {pageTitle}
    </h2>
    <Test />
  </section>
</BaseLayout>
