---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Opintotarjonta';
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2 class='text-center mt-10 mb-16'>
      {pageTitle}
    </h2>
  </section>

  <section>
    <div class=''>
      <h2>Rekrytoitko ICT-, ohjelmisto- tai media-alalle työntekijöitä?</h2>
      <p>
        Uuden tyollistymistä edistavan toimintamallin kehittanyt Uraohjain+ -kehityshanke etsii
        yhteistyöyrityksiä. Etsimämme yhteistyokumppanit ovat valmiita vaikuttamaan
        tyovoimatarjonnan kehittamiseen omia tarpeitaan parhaiten vastaavaksi. <br /><br />
        Uraohjain-palvelussa kehitetaan yritysten tyovoima tarpeisiin perustuen tyonhakijoiden osaamista
        ja muita valmiuksia seka yleisella tasolla etta yrityskohtaisesti. Yrityksen yhteistyo palvelun
        kanssa koostuu osaamis­- ja tyovoimatarpeita kartoittavista tapaamisista ja esitystilaisuuksista
        seka palveluun osallistuvien tyonhakijoiden huomioimisesta rekrytoinneissa. <br /><br />
        Uraohjain-palvelussa tyonhakijat kehittavat ICT-, ohjelmisto- tai media-alan osaamistaan, urahallintataitojaan
        seka vahvistavat toimintavalmiuksiaan. Toimintamallin perusteet on luotu aiemmissa hankkeissa,
        joissa on saavutettu hyvia tuloksia. <br />
        <br />
        Palvelu on tarkoitettu tyottomille toisen tai korkea-asteen tutkinnon suorittaneille, jotka hakevat
        toita ICT-, ohjelmistokehitys- tai media-alalta. Uraohjain+-hankkeen toteuttavat Helsingin kaupunki
        (Stadin AO), Laurea-ammattikorkeakoulu ja Metropolia Ammattikorkeakoulu. Hanke on Euroopan unionin
        osarahoittama. <br />
        <br />
      </p>
    </div>
  </section>
</BaseLayout>
