---
import BaseLayout from '../layouts/BaseLayout.astro';
import i18next, { t, changeLanguage } from 'i18next';
import { Trans } from 'astro-i18next/components';

changeLanguage('fi');

const pageTitle = 'Opintotarjonta';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='' id='study-offers'>
    <h2 class='text-center md:mt-10'>
      {t('studyOfferings.pageTitle')}
    </h2>
    <p class='m-3 md:m-0 text-center'>
      {t('studyOfferings.description')}
    </p>
    <div class='flex justify-center anchors'>
      <a class='yellow-bg px-3 md:px-6 mr-4 underline' href='#ict'>
        <p>{t('studyOfferings.ict')}</p>
      </a>
      <a class='pink-bg px-12 md:px-28 underline' href='#media'>
        <p>Media</p>
      </a>
    </div>

    <div id='ict'>
      <h2>{t('studyOfferings.ict')}</h2>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.0.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.0.description')}
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>{t('studyOfferings.ictData.1.title')}</p>
        <p class='p-0 m-0'>
          {t('studyOfferings.ictData.1.description')}
        </p>
      </div>
    </div>

    <div id='media'>
      <h2>Media</h2>
      <div class='mb-4 p-4 grey-bg'>
        <p class='p-0 m-0 font-bold'>Osaamiskokonaisuus 12: Media-alan tuotanto-osaaminen</p>
        <p class='p-0 m-0'>
          Elokuva- ja tv-tuotannot kasvavat ja kansainvälistyvät, ja tuotanto-osaamista tarvitaan.
          Opi tuotannon keskeiset asiat, vahvista kielitaitojasi sekä markkinoinnin ja
          yritystalouden osaamistasi.
        </p>
      </div>
      <div class='mb-4 p-4 bg-white'>
        <p class='p-0 m-0 font-bold'>
          Osaamiskokonaisuus 13: Journalismi ja verkkomedia, sosiaalinen media
        </p>
        <p class='p-0 m-0'>
          Mikä on journalismin rooli ja tehtävä yhteiskunnassa, ja mitä journalistinen työ pitää
          sisällään? Opi havainnoimaan, hankkimaan ja jalostamaan tietoa sekä tuottamaan
          journalistista sisältöä eri alustoille ja verkkoon.
        </p>
      </div>
      <!-- Repeat the pattern for other items -->
    </div>
  </div>
</BaseLayout>
