---
import BaseLayout from "../layouts/BaseLayout.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("fi");

const pageTitle = "URAOHJAIN+ -yhteiskehitt\u00E4mishanke";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h2 class='text-center mt-10 mb-16'>
      <!-- {pageTitle} -->
      {t('project.pageTitle')}
    </h2>

    <div class='md:grid md:grid-cols-2'>
      <div class='p-8 md:p-18 pink-bg'>
        <h2>{t('project.title')}</h2>
        <p>
          <Trans i18nKey='project.description'>
            URAOHJAIN+ -hanke on noussut tarpeesta lisätä ICT-, ohjelmistokehitys- ja media-alojen
            työnhakijoiden ja työnantajien kohtaamista. Hankkeessa kehitettävä Uraohjain-palvelu
            vahvistaa ICT-, ohjelmistokehitys- ja media-alan työnhakijoiden osaamista vastaamaan
            työelämän tarpeisiin. Samalla vastataan yritysten rekrytointihaasteeseen.
            <br /><br />
            Uraohjain-palvelu on tarkoitettu ICT-, ohjelmistokehitys- ja media-alan työttömille työnhakijoille,
            joilla on tarve täydentää osaamistaan ja kehittää työllistymis- ja urasuunnittelutaitojaan.
            Palvelun aikana vahvistetaan arkea ja työllistymistä tukevaa hyvinvointia.
            <br /><br />
            URAOHJAIN+ on Stadin ammattiopiston, Laurea-ammattikorkeakoulun ja Metropolia Ammattikorkeakoulun
            yhteishanke. Yhteistyötä tehdään Helsingin kaupungin Työllisyyspalveluiden sekä yritysten
            kanssa. Euroopan unionin sosiaalirahasto osarahoittaa hanketta.
          </Trans>
        </p>
      </div>
      <img
        src='/img/register/walking-man.jpg'
        alt='walking man'
        class='hidden md:block bg-cover w-full h-full'
      />
    </div>
  </section>

  <section>
    <h3 class='my-16'>{t('project.graphicTitle')}</h3>
    <!-- md:w-1/2 -->
    <div id='diagram-focus'>
      <img src='/img/uraohjain+/diagram.png' alt='diagram' />
      <p class='p-4 my-14 pink-bg'>
        <Trans i18nKey='project.messageBox'>
          URAOHJAIN+ alkoi 1.3.2023 ja se jatkuu 28.02.2025 asti. <br /> Palvelua kehitetään koko hankkeen
          ajan, ja hankeajan lopussa julkaistaan malli kehitetystä palvelusta ja sen vaikuttavuudesta.
        </Trans>
      </p>
    </div>
  </section>
</BaseLayout>
