---
import NewsLayoutAPI from '../../layouts/NewsLayoutAPI.astro';
import fetchApi from '../../lib/strapi';
import type Article from '../../Interfaces/article';
import Markdown from '@astrojs/markdown-component';

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles?populate=*',
    wrappedByKey: 'data',
  });

  return articles.map((article) => ({
    params: { slug: article.attributes.slug },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
const apiUrl = import.meta.env.STRAPI_URL;
---

<NewsLayoutAPI>
  <h1>{article.attributes.title}</h1>
  <img
    src={apiUrl + article.attributes.image.data?.attributes.formats.medium.url}
    alt=`Image ${article.attributes.title}`
    class='mb-2'
  />
  <Markdown>{article.attributes.introduction}</Markdown>
  <Markdown>{article.attributes.content}</Markdown>
</NewsLayoutAPI>
