---
import BaseLayout from '../../layouts/BaseLayout.astro';
import NewsCard from '../../components/NewsCard.astro';
const allNews = await Astro.glob('./*.md');
const pageTitle = 'Ajankohtaista';
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='text-center mt-10 mb-16'>Ajankohtaista</h2>
  <section class='flex justify-center' aria-label='New Blog News'>
    <div class='grid grid-cols-4 gap-4'>
      {
        allNews.map((news) => (
          <div class='news-row'>
            <NewsCard frontmatter={news.frontmatter} url={news.url} tagType='h3' />
          </div>
        ))
      }
    </div>
  </section>
</BaseLayout>
