---
import BaseLayout from '../../layouts/BaseLayout.astro';
import NewsCard from '../../components/NewsCard.astro';
const allNews = await Astro.glob('./*.md');
const pageTitle = 'Ajankohtaista';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class=''>Ajankohtaista</h1>
  <section class='flex justify-center' aria-label='New Blog News'>
    <div class='grid grid-cols-4 gap-8'>
      {
        allNews.map((news) => (
          <NewsCard frontmatter={news.frontmatter} url={news.url} tagType='h3' />
        ))
      }
    </div>
  </section>
</BaseLayout>
