---
---

<div class='flex justify-center footer-border'>
  <h2 class='mt-10 font-extrabold'>Yhteystiedot</h2>
</div>
<footer id='contact' class='footer leading-6'>
  <!-- Stadin AO footer section -->
  <div class='md:ml-4'>
    <h3 class='text-2xl'>HKI / STADIN AO</h3>
    <div class='mb-4'>
      <div class='font-bold'>Jaakko Hyytiä</div>
      <div>Projektipäällikkö</div>
      <div>040 664 3020</div>
      <div>Jaakko.hyytia@hel.fi</div>
    </div>
    <div class='mb-4'>
      <div class='font-bold'>Leea Hiltunen</div>
      <div>Projektikoordinaattori</div>
      <div>09 310 25104</div>
      <div>Leea.hiltunen@hel.fi</div>
    </div>
    <div>
      <img src='/img/frontpage/logo-footer.png' alt='' />
    </div>
  </div>
  <!-- Metropolia footer section -->
  <div>
    <h3 class='text-2xl'>METROPOLIA</h3>
    <div class='mb-4'>
      <div class='font-bold'>Tapani Martti</div>
      <div>Projektipäällikkö Asiantuntijalehtori, it-ala</div>
      <div>040 771 9160</div>
      <div>Tapani.Martti@metropolia.fi</div>
    </div>
    <div class='mb-4'>
      <div class='font-bold'>Jari Pihlava</div>
      <div>Asiantuntilehtori, toimintaterapia</div>
      <div>040 480 6897</div>
      <div>Jari.Pihlava@metropolia.fi</div>
    </div>
    <div class=''>
      <div class='font-bold'>Jussi Linkola</div>
      <div>Asiantuntijalehtori, media-ala</div>
      <div>040 184 2448</div>
      <div>Jussi.Linkola@metropolia.fi</div>
    </div>
  </div>
  <!-- Laurea footer section -->
  <div>
    <h3 class='text-2xl'>LAUREA</h3>
    <div class='mb-4'>
      <div class='font-bold'>Ilkka Vuorikuru</div>
      <div>Projektipäällikkö ja pedagoginen asiantuntija</div>
      <div>050 449 4532</div>
      <div>Ilkka.vuorikuru@laurea.fi</div>
    </div>
    <div class='mb-4'>
      <div class='font-bold'>Mia Sammalkanto</div>
      <div>Ura- ja opinto-ohjauksen asiantuntija ja kehittäjä</div>
      <div>0504017281</div>
      <div>Mia.sammalkanto@laurea.fi</div>
    </div>

    <div class=''>
      <div class='font-bold'>Niklas Leppä</div>
      <div>Digitaalisen ohjauksen asiantuntija ja kehittäjä</div>
      <div>0504762967</div>
      <div>Niklas.leppa@laurea.fi</div>
    </div>
  </div>
</footer>
