---
---

<div class='flex justify-center footer-border'>
  <h2 class='mt-4'>Yhteystiedot</h2>
</div>
<footer class='footer p-10'>
  <!-- Stadin AO footer section -->
  <div class='ml-4'>
    <span class='footer-title'>HKI / STADIN AO</span>
    <div class='mb-4'>
      <p class='font-bold'>Jaakko Hyytiä</p>
      <p>Projektipäällikkö</p>
      <p>040 664 3020</p>
      <p>Jaakko.hyytia@hel.fi</p>
    </div>
    <div class='mb-4'>
      <p class='font-bold'>Leea Hiltunen</p>
      <p>Projektikoordinaattori</p>
      <p>09 310 25104</p>
      <p>Leea.hiltunen@hel.fi</p>
    </div>
    <div>
      <img src='/img/frontpage/logo-footer.png' alt='' />
    </div>
  </div>
  <!-- Metropolia footer section -->
  <div>
    <span class='footer-title'>METROPOLIA</span>
    <div class='mb-4'>
      <p class='font-bold'>Tapani Martti</p>
      <p>Projektipäällikkö Asiantuntijalehtori, it-ala</p>
      <p>040 771 9160</p>
      <p>Tapani.Martti@metropolia.fi</p>
    </div>
    <div class='mb-4'>
      <p class='font-bold'>Jari Pihlava</p>
      <p>Asiantuntilehtori, toimintaterapia</p>
      <p>040 480 6897</p>
      <p>Jari.Pihlava@metropolia.fi</p>
    </div>
    <div class=''>
      <p class='font-bold'>Jussi Linkola</p>
      <p>Asiantuntijalehtori, media-ala</p>
      <p>040 184 2448</p>
      <p>Jussi.Linkola@metropolia.fi</p>
    </div>
  </div>
  <!-- Laurea footer section -->
  <div>
    <span class='footer-title'>LAUREA</span>
    <div class='mb-4'>
      <p class='font-bold'>Ilkka Vuorikuru</p>
      <p>Projektipäällikkö ja pedagoginen asiantuntija</p>
      <p>050 449 4532</p>
      <p>Ilkka.vuorikuru@laurea.fi</p>
    </div>
    <div class='mb-4'>
      <p class='font-bold'>Mia Sammalkanto</p>
      <p>Ura- ja opinto-ohjauksen asiantuntija ja kehittäjä</p>
      <p>0504017281</p>
      <p>Mia.sammalkanto@laurea.fi</p>
    </div>

    <div class=''>
      <p class='font-bold'>Niklas Leppä</p>
      <p>Digitaalisen ohjauksen asiantuntija ja kehittäjä</p>
      <p>0504762967</p>
      <p>Niklas.leppa@laurea.fi</p>
    </div>
  </div>
</footer>
