---
import Navbar from '../components/Navbar.astro';
import PartnersLogos from '../components/PartnersLogos.astro';
---

<div>
  <Navbar />
  <div
    id='header'
    class='w-full bg-cover bg-center'
    style='background-image: url(/img/frontpage/header.jpg);'
  >
    <div id='header-logos'>
      <div class='px-4 py-8 md:py-12'>
        <img src='/img/frontpage/logo.svg' alt='' />
      </div>
      <PartnersLogos />
    </div>
  </div>
</div>
