---
import Navbar from '../components/Navbar.astro';
import PartnersLogos from '../components/PartnersLogos.astro';
---

<Navbar />
<div class='w-full bg-cover bg-center' style='background-image: url(/img/frontpage/header.png);'>
  <div class='px-8 py-8 md:px-24 md:py-20'>
    <img src='/img/frontpage/logo.svg' alt='' />
  </div>
  <PartnersLogos />
</div>
