---
import Navbar from '../components/Navbar.astro';
---

<Navbar />
<div
  class='w-full bg-cover bg-center'
  style='height:32.5rem; background-image: url(/img/frontpage/header.png);'
>
  <div class='px-24 py-20'>
    <img src='/img/frontpage/logo.svg' alt='' />
  </div>

  <div class='flex flex-row ml-20'>
    <!-- Stadin logo -->
    <div class='px-3 py-4'>
      <div
        class='relative w-32 h-32 bg-purple-50 rounded-full flex justify-center items-center text-center opacity-90'
      >
        <img src='/img/frontpage/stadin.png' alt='StadinAO logo' />
      </div>
    </div>
    <!-- Metropolia logo -->
    <div class='px-3 py-4'>
      <div
        class='relative w-32 h-32 bg-purple-50 rounded-full flex justify-center items-center text-center opacity-90'
      >
        <img src='/img/frontpage/metropolia.png' alt='StadinAO logo' />
      </div>
    </div>
    <!-- Laurea logo -->
    <div class='px-3 py-4'>
      <div
        class='relative w-32 h-32 bg-purple-50 rounded-full flex justify-center items-center text-center opacity-90'
      >
        <img src='/img/frontpage/laurea.png' alt='StadinAO logo' />
      </div>
    </div>
    <!-- EU logo -->
    <div class='px-3 py-4'>
      <div
        class='relative w-32 h-32 bg-purple-50 rounded-full flex justify-center items-center text-center opacity-90'
      >
        <img src='/img/frontpage/eu.png' alt='StadinAO logo' />
      </div>
    </div>
  </div>
</div>
