---
import Navbar from '../components/Navbar.astro';
---

<Navbar />
<div
  class='w-full bg-cover bg-center'
  style='height:32.5rem; background-image: url(/img/header.png);'
>
  <div class='flex px-24 py-20'>
    <img src='/img/logo.svg' alt='' />
  </div>
</div>
