---
import '../styles/index.scss';
---

<!-- Navbar -->
<navbar>
  <div class='navbar flex justify-between'>
    <div class='items-center md:mx-auto'>
      <!-- Primary Navbar items -->
      <div class='hidden md:flex items-center space-x-40'>
        <a href='/'>Etusivu</a>
        <a href='/companies'>Yrityksille</a>
        <a href='/signup'>Ilmoittaudu</a>
        <a href='/news-api'>Ajankohtaista</a>
        <a href='/project'>Hanke</a>
        <a href='/contact'>Yhteystiedot</a>
        <!-- <a href='' class='py-4 px-14 transition duration-300'>ENG</a> -->
        <button class=''>EN</button>
      </div>
    </div>
    <!-- Mobile menu button -->
    <div class='md:hidden'>
      <button type='button' class='outline-none mobile-menu-button'>
        <svg viewBox='0 0 100 80' width='40' height='40' style='fill: #f6f2f2;'>
          <rect width='100' height='10' rx='10'></rect>
          <rect y='30' width='100' height='10' rx='10'></rect>
          <rect y='60' width='100' height='10' rx='10'></rect>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class='mobile-menu w-full md:w-auto hidden'>
    <a
      href='/'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Etusivu</a
    >
    <a
      href='/companies'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Yrityksille</a
    >
    <a
      href='/signup'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Ilmoittaudu</a
    >
    <a
      href='/news-api'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Ajankohtaista</a
    >
    <a
      href='/project'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Hanke</a
    >
    <a
      href='/contact'
      class='block text-2xl px-2 py-4 hover:bg-rose-200 hover:text-black transition duration-300'
      >Yhteystiedot</a
    >
    <a
      href='#contact'
      class='block text-2xl px-2 py-4 hover:bg-rose-300 hover:text-black transition duration-300'
      >ENG</a
    >
  </div>
</navbar>

<!-- Script -->
<script>
  // Desktop menu links active
  const nav = document.querySelector('.navbar');
  const navLinks = nav?.querySelectorAll('a');
  const currentURL = window.location.href;

  navLinks?.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add('active');
    }
  });

  // Mobile menu links active
  const mobileMenu = document.querySelector('.mobile-menu');
  const mobileMenuLinks = mobileMenu?.querySelectorAll('a');

  mobileMenuLinks?.forEach((link) => {
    if (link.href === currentURL) {
      link.classList.add('active');
    }
  });

  // Toggle mobile menu button to show and hide menu links
  const btn = document.querySelector('button.mobile-menu-button');
  const menu = document.querySelector('.mobile-menu');

  btn?.addEventListener('click', () => {
    menu?.classList.toggle('hidden');
  });
</script>
