<!-- Partners' logos component  -->
<div class='flex flex-row md:ml-2'>
  <!-- Stadin logo -->
  <div class='px-2 py-4'>
    <div
      class='relative md:w-28 md:h-28 bg-purple-50 rounded-full flex justify-center items-center text-center'
    >
      <img src='/img/frontpage/stadin.png' alt='StadinAO logo' />
    </div>
  </div>
  <!-- Metropolia logo -->
  <div class='px-2 py-4'>
    <div
      class='relative md:w-28 md:h-28 bg-purple-50 rounded-full flex justify-center items-center text-center'
    >
      <img src='/img/frontpage/metropolia.png' alt='Metropolia logo' />
    </div>
  </div>
  <!-- Laurea logo -->
  <div class='px-2 py-4'>
    <div
      class='relative md:w-28 md:h-28 bg-purple-50 rounded-full flex justify-center items-center text-center'
    >
      <img src='/img/frontpage/laurea.png' alt='Laurea logo' />
    </div>
  </div>
  <!-- EU logo -->
  <div class='px-2 py-4'>
    <div
      class='relative md:w-28 md:h-28 bg-purple-50 rounded-full flex justify-center items-center text-center'
    >
      <img src='/img/frontpage/eu.png' alt='EU logo' />
    </div>
  </div>
</div>
