---
---

<div class='md:grid md:grid-cols-2'>
  <form class='p-8 md:p-18 pink-bg'>
    <h3 class='mt-0 mb-20'>Tervetuloa ilmoittautumaan Uraohjain-palveluun!</h3>
    <p>
      Varaa ilmoittautumiseen aikaa noin 20 minuuttia. Aloita ilmoittautuminen täyttämällä
      taustoittava kysely ammatillisesta osaamisestasi. Tämän jälkeen pääset täyttämään
      henkilötietosi ja varaamaan ajan aloitustapaamiseen. Ilmoittautuaksesi palveluun, sinun tulee
      hyväksyä tietosuojaseloste ja suostumus tietojen vaihtoon. Hyväksyn tietosuojaselosteen.
      Hyväksyn osallistumiseni Uraohjain+ -kehityshankkeeseen.
    </p>
    <div class='flex flex-col'>
      <input type='checkbox' name='privacy' id='privacy' />
      <label for='privacy'>Hyväksyn tietosuojaselosteen.</label>
      <input type='checkbox' name='information' id='information' />
      <label for='information'
        >Hyväksyn tietojen vaihdon Uraohjain-palvelu toteuttajien kesken.</label
      >
    </div>

    <div class='flex justify-end'>
      <button class='btn btn-outline'>Seuraava</button>
    </div>
  </form>
  <img src='/img/register/walking-man.jpg' alt='' class='hidden md:block bg-cover w-full h-full' />
</div>
