---
import '../styles/index.scss';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang='fi'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap');
    </style>
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <div class='main-wrapper'>
      <slot />
    </div>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
